<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="h1">
    <h1>Bienvenue sur le site GiftBox</h1>
    </div>

    <p>Utilisez les liens ci-dessous pour naviguer :</p>

    <div class="menu">
        <a href="/categories">Catégories de prestations</a>
        <a href="/coffrets">Coffrets par thème</a>
        <a href="/prestations">Liste des prestations</a>
    </div>

    <p>Choisissez une catégorie ou un coffret pour explorer nos prestations !</p>

    <br>
    <p>Utilisez les liens ci-dessous pour naviguer entre différentes API :</p>
    <div class="menuAPI">
        <a href="/api/categories">Liste des Catégories</a>
        <br>
        <a href="/api/boxes/360bb4cc-e092-3f00-9eae-774053730cb2">Une box</a>
        <br>
        <a href="/api/prestations">Liste de prestations</a>
        <br>
        <a href="/api/categories/1/prestations">Liste des prestations d'une catégorie</a>
    </div>
    <br>
    <br>
    <div class="SignIn">
         <a href="signin"> Se connecter </a>
    </div>
</body>
</html>
