<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="h1">
    <h1>Bienvenue sur le site GiftBox</h1>
    </div>

    <p>Utilisez les liens ci-dessous pour naviguer :</p>

    <div class="menu">
        <a href="/categories">Catégories de prestations</a>
        <a href="/coffrets">Coffrets par thème</a>
        <a href="/prestations">Liste des prestations</a>
    </div>

    <p>Choisissez une catégorie ou un coffret pour explorer nos prestations !</p>

    <br>
    <br>
    <div class="SignIn">
         <a href="signin"> Se connecter </a>
    </div>
</body>
</html>
