<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

</head>
<body>
    <h1>Bienvenue sur le site GiftBox</h1>

    <p>Utilisez les liens ci-dessous pour naviguer :</p>

    <ul>
        <li><a href="categories"> Voir toutes les catégories de prestations</a></li>
        <li><a href="coffrets"> Parcourir les coffrets par thème</a></li>
        <li><a href="prestations"> Voir toute la liste des prestations </a></li>
    </ul>

    <p><em>Choisissez une catégorie ou un coffret pour explorer nos prestations !</em></p>
</body>
</html>
