<link rel="stylesheet" href="/style.css">
{% block content %}
    <h1>Liste des coffrets par thème</h1>

    {% for theme in themes %}
        <h2>{{ theme.libelle }}</h2>
        <ul>
            <div class="menu">
            {% for c in theme.coffrets %}

                    <a href="{{ routeParser.urlFor('coffret', {'id': c.id}) }}">
                        {{ c.libelle }}
                    </a>
                
            {% endfor %}
            </div>
        </ul>
    {% endfor %}
{% endblock %}
