<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des Prestations</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Liste de toutes les prestations</h1>

    <div class="menu">
        <ul>
            {% for prestation in prestations %}
                    <div class="prestation">
                    <a href="{{ routeParser.urlFor('prestation') ~ '?id=' ~ prestation.id }}">
                        {{ prestation.libelle }}
                    – {{ prestation.tarif }} €</a>

                    </div>
            {% endfor %}
        </ul>
    </div>
    <div class="menuRetour">
        <a href="{{ routeParser.urlFor('categories') }}">← Retour aux catégories</a>
    </div>
</body>
</html>
